<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700|Rubik:400,700|Lato:900|Open+Sans:300,600|Roboto" media="screen" title="no title">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="./../assets/css/main.css">
    <title>Exclusive Brokerage</title>
</head>

<body>
    <nav class="navbar navbar__row"><img class="navbar__logo" src="./../assets/images/logo - vector-black.png">
        <a class="navbar__brand" href="#">
            <h1 class="navbar__header">Exclusive Brokerage</h1>
        </a>
        <ul class="navbar__ul">
            <li class="navbar__list"><a class="navbar__link mdi mdi-home" href="./../index.html">Home</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-clipboard-arrow-down" href="./services.html">Services</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-account-multiple" href="./about.html">About</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-arrow-compress-all navbar__link--active" href="./partners.html">Partners</a></li>
        </ul>
    </nav>
    <section class="landing-view landing-view--home">
        <div class="landing-view__icon-group"><i class="landing-view__icon mdi mdi-clipboard-arrow-down"></i></div>
        <div class="landing-view__icon-group--shadow"></div>
        <h1 class="landing-view__header">Our Partners</h1>
        <p class="landing-view__description">brVeniam qui non aute adipisicing voluptate consequat. Voluptate laborum ad ipsum pariatur eu eiusmod. Nisi enim cillum exercitation officivaboris veniam esse aliqua. Excepteur cillum proident eiusmod ullamco sit esse nisi aliqua anim ea aliquip
            culpa commodo incididunt.</p>
    </section>
    <section class="partners-view">
        <div class="partners-view__partner"><img class="partners-view__img" src="http://placehold.it/200x200">
            <div class="partners-view__description">
                <h1 class="partners-view__header">Partners Name</h1>
                <p class="partners-view__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum elementum sollicitudin. Nullam varius efficitur velit, at tincidunt massa cursus vitae. Nulla scelerisque, lacus eget imperdiet porttitor, elit est pretium ante,
                    nec scelerisque augue risus ut purus. Praesent a accumsan nunc, non scelerisque nulla. Donec massa odio, mattis et suscipit ut, accumsan vel ligula. Etiam posuere, nibh eget venenatis imperdiet, tortor magna scelerisque lorem, quis
                    pretium lectus elit sit amet purus. Sed tincidunt quam et hendrerit tristique.</p>
            </div>
        </div>
        <div class="partners-view__partner"><img class="partners-view__img" src="http://placehold.it/200x200">
            <div class="partners-view__description">
                <h1 class="partners-view__header">Partners Name</h1>
                <p class="partners-view__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum elementum sollicitudin. Nullam varius efficitur velit, at tincidunt massa cursus vitae. Nulla scelerisque, lacus eget imperdiet porttitor, elit est pretium ante,
                    nec scelerisque augue risus ut purus. Praesent a accumsan nunc, non scelerisque nulla. Donec massa odio, mattis et suscipit ut, accumsan vel ligula. Etiam posuere, nibh eget venenatis imperdiet, tortor magna scelerisque lorem, quis
                    pretium lectus elit sit amet purus. Sed tincidunt quam et hendrerit tristique.</p>
            </div>
        </div>
        <div class="partners-view__partner"><img class="partners-view__img" src="http://placehold.it/200x200">
            <div class="partners-view__description">
                <h1 class="partners-view__header">Partners Name</h1>
                <p class="partners-view__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum elementum sollicitudin. Nullam varius efficitur velit, at tincidunt massa cursus vitae. Nulla scelerisque, lacus eget imperdiet porttitor, elit est pretium ante,
                    nec scelerisque augue risus ut purus. Praesent a accumsan nunc, non scelerisque nulla. Donec massa odio, mattis et suscipit ut, accumsan vel ligula. Etiam posuere, nibh eget venenatis imperdiet, tortor magna scelerisque lorem, quis
                    pretium lectus elit sit amet purus. Sed tincidunt quam et hendrerit tristique.</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__float">
            <ul class="footer__column">
                <li class="footer__li"><a class="footer__a" href="#">Uno</a></li>
                <li class="footer__li"><a class="footer__a" href="#">Duo</a></li>
                <li class="footer__li"><a class="footer__a" href="#">Tre </a></li>
            </ul>
        </div>
        <div class="footer__float">
            <ul class="footer__column">
                <li class="footer__li"><a class="footer__a" href="#">Uno</a></li>
                <li class="footer__li"><a class="footer__a" href="#">Duo</a></li>
                <li class="footer__li"><a class="footer__a" href="#">Tre</a></li>
            </ul>
        </div>
        <div class="footer__float">
            <ul class="footer__column">
                <li class="footer__li"><a class="footer__a" href="#">Uno</a></li>
                <li class="footer__li"><a class="footer__a" href="#">Duo</a></li>
                <li class="footer__li"><a class="footer__a" href="#">Tre</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>