<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700|Rubik:700|Lato:900|Open+Sans:300" media="screen" title="no title">
    <link rel="stylesheet" type="text/css" href="/libs/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Exclusive Brokerage</title>
  </head>
  <body>
        <nav class="navbar navbar__row"><img class="navbar__logo" src="./images/logo - vector-black.png"><a class="navbar__brand" href="#">
            <h1 class="navbar__header">Exclusive Brokerage</h1></a>
          <ul class="navbar__ul">
            <li class="navbar__list"><a class="navbar__link mdi mdi-home" href="/">Home</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-clipboard-arrow-down navbar__link--active" href="/services">Services</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-account-multiple" href="/about">About</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-arrow-compress-all" href="/partners">Partners</a></li>
          </ul>
        </nav>
        <section class="landing-view landing-view--services">
          <div class="landing-view__icon-group"></div>
          <div class="landing-view__icon-group--shadow"></div>
          <h1 class="landing-view__header">Our Services</h1>
          <p class="landing-view__description">brVeniam qui non aute adipisicing voluptate consequat. Voluptate laborum ad ipsum pariatur eu eiusmod. Nisi enim cillum exercitation officivaboris veniam esse aliqua. Excepteur cillum proident eiusmod ullamco sit esse nisi aliqua anim ea aliquip culpa commodo incididunt.</p>
        </section>
    <section>
      <div>
        <h1>Quadra</h1>
        <p>lorem lorem lorem Lorem ipsum dot dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
      </div>
      <div>
        <h1>Penta</h1>
        <p>lorem lorem lorem Lorem ipsum dot dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
      </div>
      <div>
        <h1>Sexta</h1>
        <p>lorem lorem lorem Lorem ipsum dot dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
      </div>
    </section>
    <section>
      <form method="post">
        <h1>A small rule of thumb, this is not for reporting errors within our services</h1>
        <fieldset>
          <label for="name">Full Name
            <input type="text" name="name" placeholder="For example Batman">
            <label for="email">Your email</label>
            <input type="email" name="email" placeholder="Something like simpleman@emai.com">
            <textarea name="message" rows="8" cols="40"></textarea>
            <input type="button" name="name" value="Send">
          </label>
        </fieldset>
      </form>
    </section>
  </body>
</html>