<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700|Rubik:400,700|Lato:900|Open+Sans:300|Roboto" media="screen" title="no title">
    <link rel="stylesheet" type="text/css" href="http://cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <title>Exclusive Brokerage</title>
  </head>
  <body>
        <nav class="navbar navbar__row"><img class="navbar__logo" src="../assets/images/logo - vector-black.png"><a class="navbar__brand" href="#">
            <h1 class="navbar__header">Exclusive Brokerage</h1></a>
          <ul class="navbar__ul">
            <li class="navbar__list"><a class="navbar__link mdi mdi-home" href="../index.html">Home</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-clipboard-arrow-down navbar__link--active" href="./services.html">Services</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-account-multiple" href="/about">About</a></li>
            <li class="navbar__list"><a class="navbar__link mdi mdi-arrow-compress-all" href="/partners">Partners</a></li>
          </ul>
        </nav>
        <section class="landing-view landing-view--services">
          <div class="landing-view__icon-group mdi mdi-"></div>
          <div class="landing-view__icon-group--shadow"></div>
          <h1 class="landing-view__header">Our Services</h1>
          <p class="landing-view__description">brVeniam qui non aute adipisicing voluptate consequat. Voluptate laborum ad ipsum pariatur eu eiusmod. Nisi enim cillum exercitation officivaboris veniam esse aliqua. Excepteur cillum proident eiusmod ullamco sit esse nisi aliqua anim ea aliquip culpa commodo incididunt.</p>
        </section>
    <section class="owner-section">
      <div class="owner-section__container">
        <div class="owner-section__content--left">
          <h1 class="owner-section__header">Owner # 1 </h1>
          <p class="owner-section__description">brVeniam qui non aute adipisicing voluptate consequat. Voluptate laborum ad ipsum pariatur eu eiusmod. Nisi enim cillum exercitation officivaboris veniam esse aliqua. Excepteur cillum proident eiusmod ullamco sit esse nisi aliqua anim ea aliquip culpa commodo incididunt.</p>
        </div>
        <div class="owner-section__left">
          <div class="owner-section__skew--left"></div>
        </div>
      </div>
      <div class="owner-section__container">
        <div class="owner-section__content--right">
          <h1 class="owner-section__header">Owner #2</h1>
          <p class="owner-section__description">brVeniam qui non aute adipisicing voluptate consequat. Voluptate laborum ad ipsum pariatur eu eiusmod. Nisi enim cillum exercitation officivaboris veniam esse aliqua. Excepteur cillum proident eiusmod ullamco sit esse nisi aliqua anim ea aliquip culpa commodo incididunt.</p>
        </div>
        <div class="owner-section__right">
          <div class="owner-section__skew--right"></div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__float">
        <ul class="footer__column">
          <li class="footer__li"><a class="footer__a" href="#">Uno</a></li>
          <li class="footer__li"><a class="footer__a" href="#">Duo</a></li>
          <li class="footer__li"><a class="footer__a" href="#">Tre </a></li>
        </ul>
      </div>
      <div class="footer__float">
        <ul class="footer__column">
          <li class="footer__li"><a class="footer__a" href="#">Uno</a></li>
          <li class="footer__li"><a class="footer__a" href="#">Duo</a></li>
          <li class="footer__li"><a class="footer__a" href="#">Tre</a></li>
        </ul>
      </div>
      <div class="footer__float">
        <ul class="footer__column">
          <li class="footer__li"><a class="footer__a" href="#">Uno</a></li>
          <li class="footer__li"><a class="footer__a" href="#">Duo</a></li>
          <li class="footer__li"><a class="footer__a" href="#">Tre</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
