/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .75em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1.5em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

input {
    overflow: visible
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    white-space: normal;
    color: inherit;
    padding: 0
}

optgroup {
    font-weight: 700
}

textarea {
    overflow: auto
}

body {
    background-color: #e0e0e0
}

.navbar {
    position: relative;
    z-index: 2;
    top: 0;
    background-color: #f2f2f2;
    box-shadow: -3px 3px 2px 0 rgba(28, 28, 28, .74);
    box-sizing: border-box;
    color: #333;
    display: block;
    min-height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

.navbar__logo {
    float: left;
    height: 27px;
    margin-top: 33px;
    margin-left: 93px;
    width: auto
}

.navbar__brand {
    text-decoration: none
}

.navbar__header {
    font-family: Rubik, sans-serif;
    color: #333;
    display: inline-block;
    margin: 30px 0 0 20px
}

.navbar__ul {
    float: right;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    margin: 20px;
    padding: 0
}

.navbar__list {
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: bottom
}

.navbar__link {
    color: #828282;
    display: block;
    padding: 1.2rem;
    text-decoration: none
}

.navbar__link--active {
    color: #252525
}

.navbar__col {
    float: right;
    padding: 2.5rem 1.5rem;
    width: 33.33%
}

.landing-view {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover
}

.landing-view--home {
    background-image: url(../images/background_img_section1_edit.jpg);
    background-position-y: -150px;
    height: 800px
}

.landing-view--services {
    background-image: url(../images/background_img_section1_edit.jpg)
}

.landing-view--about,
.landing-view--partners {
    background-image: url(../images/background_img_section1_edit.jpg);
    height: 1052px
}

.landing-view__header {
    font-family: Lato, sans-serif;
    font-size: 64px;
    z-index: -1;
    color: #f2f2f2;
    margin: 100px 480px 0 360px;
    text-align: center
}

.landing-view__description {
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    color: #fff;
    margin: 50px 275px 0 304px;
    text-align: center
}

.landing-view__icon {
    position: relative;
    top: 30%;
    left: 40%;
    color: #000;
    font-size: 100px
}

.landing-view__icon-group {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 270px;
    background-color: #dadada;
    top: -30px;
    left: 34%;
    z-index: 1
}

.landing-view__icon-group,
.landing-view__icon-group--shadow {
    border-radius: 0 0 10px 10px;
    box-shadow: -3px 3px 2px rgba(28, 28, 28, .74)
}

.landing-view__icon-group--shadow {
    z-index: 0;
    position: absolute;
    width: 35%;
    height: 225px;
    left: 31.5%;
    top: -35px;
    background-color: #828282
}

.feature-view {
    padding: 30px;
    position: relative;
    top: -20px;
    height: 400px;
    margin: 50px
}

.feature-view:after {
    clear: both
}

.feature-view__group {
    float: left;
    width: 15%;
    padding: 0 9%
}

.feature-view__circle {
    background-color: #000;
    margin-left: 5%;
    width: 200px;
    height: 200px;
    border-radius: 100%
}

.feature-view__circle-content {
    position: relative;
    top: 22%;
    left: 25%;
    color: #fff;
    font-size: 100px
}

.feature-view__header {
    font-family: Lato, sans-serif;
    font-weight: 900;
    text-align: center
}

.feature-view__paragraph {
    position: relative;
    font-family: Lato, sans-serif;
    text-align: center;
    font-size: 20px;
    width: 360px;
    left: -25%
}

.form {
    background-image: url(../images/Mask-Group.png);
    background-size: cover;
    padding: 80px 0
}

.form__header {
    background-color: #4f4f4f;
    height: 110px;
    border-radius: 5px;
    width: 50%;
    margin: 0 0 0 25%;
    box-shadow: -3px 3px 2px 0 rgba(28, 28, 28, .74)
}

.form__header-text {
    color: #fff;
    margin: 0;
    font-family: Rubik, sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    line-height: 5
}

.form__fieldset {
    background-color: #d7d7d7;
    margin: 0 25% 30px;
    padding: 0;
    border: none;
    box-shadow: -3px 3px 2px 0 rgba(28, 28, 28, .74);
    border-radius: 5px
}

.form__label {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    margin: 25px 10%
}

.form__input {
    height: 45px;
    border: none;
    border-radius: 5px
}

.form__input,
.form__textarea {
    margin: 0 10%;
    width: 80%;
    background-color: #eaeaea
}

.form__textarea {
    border: none;
    font-size: 18px;
    resize: none
}

.form__submit {
    margin: 20px 35%;
    padding: 15px;
    width: 30%;
    background-color: #27ae60;
    border: none;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 400
}

.footer {
    background-color: #4f4f4f;
    top: -20px;
    padding: 30px;
    height: 250px
}

.footer__column {
    width: 30%;
    margin: 0 30px
}

.footer__li {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
    list-style: none
}

.footer__a {
    color: #fff;
    font-family: Roboto, sans-serif;
    text-decoration: none
}

.footer__float {
    float: left
}

html {
    max-width: 1600px
}

.owner-section {
    background-color: #dadada
}

.owner-section__container {
    margin: 0;
    width: 100%
}

.owner-section__content--left {
    background-color: #dadada;
    margin: 0;
    padding: 40px 25% 50px 100px
}

.owner-section__content--right {
    background-color: #acaaaa;
    margin: 0;
    padding: 40px 100px 50px 25%
}

.owner-section__header {
    margin: 0;
    margin-bottom: 50px;
    margin-top: 100px;
    font-family: Lato, sans-serif;
    font-size: 50px
}

.owner-section__description {
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 30px
}

.owner-section__skew--right {
    right: 2%;
    transform: skewX(45deg)
}

.owner-section__skew--left,
.owner-section__skew--right {
    position: relative;
    height: 160px;
    width: 100px;
    background-color: #333
}

.owner-section__skew--left {
    right: -95%;
    transform: skewX(-45deg)
}

.owner-section__left {
    background-color: #dadada
}

.owner-section__right {
    background-color: #acaaaa
}